---
import Home from '../layouts/Home.astro'
import ArticleList from '../components/ArticleList.astro';
---

<Home>
  <main>
    <div class="flex w-screen justify-center">
      <ArticleList/>
    </div>
  </main>
</Home>

<style>
</style>
